<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Data Description</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">SWT-Pricing Model</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/landing">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/checkOrgData">Check Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/checkDataDescription">Data Description</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <table class="table" style="    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    position: absolute;
    float: left;
    left: 5% !important;">
        <thead>
          <tr>
            <th scope="col">Variable Name </th><th scope="col">Description </th>
        </tr>
        <tr>
          <th scope="col">ID
          </th><th scope="col">Unique Identifier
          </th>
        </tr>
        <tr>
          <th scope="col">Requested_Amount</th><th scope="col">Loan Amount Applied for </th>
        </tr>    
        <tr>
          <th scope="col">Emi_Amount
          </th><th scope="col">Monthly Installment </th>
        </tr>  
        <tr>
          <th scope="col">Age
          </th><th scope="col">Age of the borrower

          </th>
        </tr>  
        <tr>
          <th scope="col">Applicant_Postal_Code
          </th><th scope="col">Zip code of the loacation
          </th>
        </tr>  
        <tr>
          <th scope="col">Duration_Of_Current_Emp
          </th><th scope="col">Current work experience
          </th>
        </tr>  
        <tr>
          <th scope="col">Product_Name1
          </th><th scope="col">Product interested in 
          </th>
        </tr>  
        <tr>
          <th scope="col">Product_Line
          </th><th scope="col">Proeduct Line
          </th>
        </tr>  
        <tr>
          <th scope="col">Loan_Term
          </th><th scope="col">Tenure of the loan
          </th>
        </tr>  
        <tr>
          <th scope="col">Variant_Code
          </th><th scope="col">Code for  Variant of the Product 
          </th>
        </tr>  
        <tr>
          <th scope="col">Manufacturer_Desc
          </th><th scope="col">Manfacturer
          </th>
        </tr>  
        <tr>
          <th scope="col">Gender_Desc
          </th><th scope="col">Gender
          </th>
        </tr>  
        <tr>
          <th scope="col">Marital_Status_Desc
          </th><th scope="col">Marital Status
          </th>
        </tr>  
        <tr>
          <th scope="col">Applicant_State_Desc
          </th><th scope="col">State
          </th>
        </tr>  
        <tr>
          <th scope="col">Applicant_City_Desc
          </th><th scope="col">City
          </th>
        </tr>  
        <tr>
          <th scope="col">Resid_Owned_By_Desc
          </th><th scope="col">Residence Ownership Classification
          </th>
        </tr>  
        <tr>
          <th scope="col">Employment_Type_Desc
          </th><th scope="col">Employmnet Type Classification
          </th>
        </tr>  
        <tr>
          <th scope="col">Total_Work_Experience
          </th><th scope="col">Total Work Experience
          </th>
        </tr>  
        <tr>
          <th scope="col">application_creation_date
          </th><th scope="col">Application Date
          </th>
        </tr>  
        <tr>
          <th scope="col">Ex_Showroom_Price
          </th><th scope="col">Ex Show Room Price
          </th>
        </tr>  
        <tr>
          <th scope="col">Segment
          </th><th scope="col">Segmnet as defined by SIAM
          </th>
        </tr>  
        <tr>
          <th scope="col">Current Valuation
          </th><th scope="col">Depreciated Value
          </th>
        </tr>  
        <tr>
          <th scope="col">Years_In_Current_Business
          </th><th scope="col">Current work experience esp for Self Employed
          </th>
        </tr>  
        <tr>
          <th scope="col">No_Of_Years_At_Residence
          </th><th scope="col">No of years at the current residence
          </th>
        </tr>  
        <tr>
          <th scope="col">No_Of_Years_In_City

          </th><th scope="col">No of years at the current city

          </th>
        </tr> 
        <tr>
          <th scope="col">No_Of_Years_At_Residence
          </th><th scope="col">No of years at the current residence
          </th>
        </tr> 
        <tr>
          <th scope="col">No_Of_Years_At_Business

          </th><th scope="col">No of years in curent business

          </th>
        </tr> 
        <tr>
          <th scope="col">Segment_Desc

          </th><th scope="col">Description of the segmnet above

          </th>
        </tr> 

        <tr>
          <th scope="col">Cost_Of_Vehicle


          </th><th scope="col">Asset Cost


          </th>
        </tr> 
        <tr>
          <th scope="col">Average_Bank_Balance


          </th><th scope="col">Average Bank Baalnce maintained in last 6 months


          </th>
        </tr> 
        <tr>
          <th scope="col">Segment_Desc

          </th><th scope="col">Description of the segmnet above

          </th>
        </tr> 
        <tr>
          <th scope="col">cibil_score


          </th><th scope="col">Bureau Score


          </th>
        </tr> 

        <tr>
          <th scope="col">Disbursed



          </th><th scope="col">Flag to show whether the case is disbursed or not


          </th>
        </tr>
        <tr>
          <th scope="col">IRR



          </th><th scope="col">Ineterst Rate



          </th>
        </tr>
        <tr>
          <th scope="col">MAX_OD_F_12M



          </th><th scope="col">Max delinquency in forward 12 months ; this represents the performance of the account post disbursement



          </th>
        </tr>

        <tr>
          <th scope="col">TOTAL_NTECH_BNC_F12M




          </th><th scope="col">Total Bounce in forward 12 months ; this also represents the performance of the account post disbursement and is a leading indiactor .



          </th>
        </tr>
            </thead>
            <tbody>

                </tbody>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.slim.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>